# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.hvigor
.idea
entry/.preview
entry/build
entry/src/ohosTest
entry/src/test
oh_modules
code-linter.json5
local.properties
oh-package-lock.json5