**/*.mp4
**/*.gif
**/*.wav
MSLiteHumanSegmentation/entry/src/main/resources/rawfile/rmbg_fp16.ms
video-player/screenshots/videoPlayer.gif
video-player/screenshots/videoPlayer_EN.gif
SmallWindowScene/screenshots/phone.en.gif
fluent-news-homepage/screenshots/device/NewsDemo.en.gif
fluent-news-homepage/screenshots/device/NewsDemo.gif
sample_in_harmonyos/products/phone/src/main/resources/resfile/articlecols/articles/app-continuation/ManulImages/4.gif
sample_in_harmonyos/products/phone/src/main/resources/resfile/articlecols/articles/app-continuation/ManulImages/5.gif
file_manager_service_kit_samplecode_deletetotrash_arkts/screenshots/device/indexPage_en.gif
MSLiteSceneRecognition/entry/src/main/resources/rawfile/resnet18-place365.ms
WearableMusic/entry/src/main/resources/rawfile/music_1.wav
live-view-kit_-sample-code_-clientdemo_-arkts/实况窗各场景参数与模板映射关系指导.xlsx
VideoCast/entry/src/main/resources/rawfile/kv-popup.mp4
BestPracticeSnippets/VideoProcessBaseWeb/screenshots/device/phone.gif
AudioCast/entry/src/main/resources/rawfile/Delacey
PageFlip/screenshots/device/page_flip.webp
sample_in_harmonyos/products/phone/src/main/resources/resfile/articlecols/articles/app-continuation/ManulImages/6.gif
grid-drag-sort/screenshots/device/phone.gif
list-item-edit/screenshots/device/listitem_edit.en.gif
multi-tab-navigation/screenshots/device/Tabs.gif
